
@{
    ViewBag.Title = "SignIn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="inner-head">
    <div class="page-header">
        <header>@ViewBag.Title</header>
    </div>

</div>

<div class="container">
    <form class="table-bordered col-md-6">
        <p class="h4 mb-4 text-center">Login In</p>
        <br />
        <div class="form-group">
            <input type="email" class="form-control" required placeholder="Enter Your E-mail" />
        </div>
        <div class="form-group">
            <input type="password" class="form-control" required placeholder="Enter Your Password" />
        </div>
        <div class="form-group">
            <button mdbBtn color="info" block="true" class="btn btn-primary" type="submit">Login Now</button>
        </div>
    </form>

</div>
<br />
<br />
