
@{
    ViewBag.Title = "SignUp";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<br />
<br />
<br />
<br />
<div class="inner-head">
    <div class="page-header">
        <header><h2>Become an Investor</h2></header>
    </div>
</div>
<div class="container">
    <form id="frminvestorjoining">
        <div class="row">
            <div class="col-md-6 col-xs-12">
                <label>Choose Amount To Invest:</label>
                <br /><br />
                      <div class="range-slider">
                          <input type="text" class="js-range-slider" value="" />
                      </div>
            </div>
            <div class="col-md-3">
                <label>Or Enter Custom Amount</label>
                <br /><br />

                <input type="text" class="js-input form-control" value="0" />

            </div>
            
        </div>
       
        <div class="form-group">
            <label>Name:</label>
            <input type="text" class="form-control" name="invester-name" required placeholder="Enter Name as per the PAN" />
        </div>
        <div class="form-group">
            <label>PAN:</label>
            <input  class="form-control" required placeholder="please enter you PAN number" />

        </div>
        <div class="form-group">
            <label>Mobile No:</label>
            <input class="form-control" name="mobile-no" required placeholder="Enter your Mobile number" />
        </div>
        <div class="form-group">
            <label>E-Mail:</label>
            <input class="form-control" name="E-mail" required placeholder="Enter Your E-Mail Address" />
        </div>
        <div class="form-group">
            <label>Password:</label>
            <input class="form-control" name="password" type="password" />
        </div>
        <div class="form-group">
            <button id="btninvestersignup" type="submit" class="btn btn-primary center-block" name="submit">Join Now</button>
        </div>
    </form>

</div>

<br />
<br />